// app global css
.blockquote {
  padding: 8px 16px;
  margin: 0;
  //font-size: 16px;
  //border-left: 4px solid #027be3;
  border-left: 4px solid var(--q-color-primary);
}

.item-label {
  cursor: pointer;
  color: #005ea5;
  text-decoration: underline;
  font-weight: bold;
  font-size: larger;
}
